{
	"presets": ["es2015", "react", "stage-2"],
	"plugins": [
		[
			"universal-import",
			{
				"disableWarnings": true
			}
		]
	],
	"env": {
		"development": {
			"plugins": ["react-hot-loader/babel"]
		}
	}
}
