@import '~bootstrap-social/bootstrap-social.css';
/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
.login {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgb(202, 143, 143), rgb(169, 2, 2));
}

.card-container.card {
	max-width: 350px;
	padding: 40px 40px;
}

.btn {
	font-weight: 700;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

/*
 * Card component
 */
.card {
	background-color: #f7f7f7;
	/* just in case there no content*/
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 50px;
	/* shadows and rounded borders */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
	padding-bottom: 10px;
}

.reauth-email {
	display: block;
	color: #404040;
	line-height: 2;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
	direction: ltr;
	height: 44px;
	font-size: 16px;
}

.form-signin input[type='email'],
.form-signin input[type='password'],
.form-signin input[type='text'],
.form-signin button {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	border-color: #d24949;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #d24949;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #d24949;
}

.btn.btn-signin {
	background-color: #d24949;
	padding: 0px;
	font-weight: 700;
	font-size: 14px;
	height: 36px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	-o-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-webkit-transition: all 0.218s;
	transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
	background-color: #a90202;
}

.profile-footer {
	font-size: 15px;
	> a,
	p > a {
		color: #a94341;
		&:hover,
		:active,
		:focus {
			color: #a90202;
		}
	}
}

.agreement > label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
	padding-left: 20px;
	line-height: 20px;
	font-size: 12px;
	> input {
		position: absolute;
		margin-top: 4px;
		margin-left: -20px;
		line-height: normal;
	}
}

@-moz-document url-prefix() {
	.agreement > label > input {
		margin-top: 0px;
	}
	#remember > label > input {
		margin-top: 0px;
	}
}
